In [10]:
import pandas as pd
import numpy as np
import json
from pandas import json_normalize
import matplotlib.pyplot as plt
import seaborn as sns
from PIL import Image
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
import matplotlib.patches as patches

In [11]:
!pwd

/opt/ml/detection/dataset2

In [12]:
json_file_path = './cv2_train_2.json'

In [13]:
with open(json_file_path, 'r') as f:
    train_json = json.loads(f.read())
    images = train_json['images']
    categories = train_json['categories']
    annotations = train_json['annotations']
annotations_df = pd.DataFrame.from_dict(annotations)

In [14]:
annotations_df

,image_id,category_id,area,bbox,iscrowd,id
0,2,3,324010.8000,"[267.9, 165.2, 631.6, 513.0]",0,9
1,3,2,59550.9400,"[462.2, 369.4, 233.9, 254.6]",0,10
2,3,6,80710.5600,"[773.3, 3.0, 188.4, 428.4]",0,11
3,4,1,14768.8800,"[567.5, 462.2, 165.2, 89.4]",0,12
4,4,1,32987.7800,"[859.4, 411.7, 164.2, 200.9]",0,13
...,...,...,...,...,...,...
18538,4210,0,10153.2288,"[601, 423, 122.98, 82.56]",0,23158
18539,4210,5,34613.4222,"[68, 649, 222.18, 155.79]",0,23159
18540,4237,0,26646.9630,"[260, 209, 374.15, 71.22]",0,23160
18541,4317,0,11683.6480,"[864, 700, 124.4, 93.92]",0,23161
18542,4568,7,117048.8377,"[6, 440, 348.91, 335.47]",0,23162

In [15]:
img_class = [[0] * 10 for _ in range(max(list(annotations_df['image_id']))+1)]
print(annotations[0]['image_id'])
print(annotations[0]['category_id'])
for i, annot in enumerate(annotations):
    img_class[annot['image_id']][annot['category_id']] += 1

2
3

In [16]:
img_class[:5]

[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 1, 0, 0, 0, 0, 0, 0],
 [0, 0, 1, 0, 0, 0, 1, 0, 0, 0],
 [1, 5, 0, 0, 0, 0, 0, 0, 0, 0]]

In [17]:
train_index = []
for i, classes in enumerate(img_class):
    if classes[0] and classes[1]:
        train_index.append(i)
print(len(train_index))

688

In [20]:
import os

with open('./train.json', 'r') as f:
    train_json_origin = json.loads(f.read())
    images_origin = train_json_origin['images']
    categories_origin = train_json_origin['categories']
    annotations_origin = train_json_origin['annotations']
annotations_origin_df = pd.DataFrame.from_dict(annotations_origin)
train_dict = dict()
for j in ['info', 'licenses', 'categories']:
    train_dict[j] = train_json_origin[j]
train_dict['images'] = np.array(images_origin)[train_index].tolist()
train_dict['annotations'] = annotations_origin_df[annotations_origin_df['image_id'].isin(train_index)].to_dict('records')

train_dir = os.path.join('./', f'cv2_train_{2}_oversample.json')

with open(train_dir, 'w') as train_file:
    json.dump(train_dict, train_file)

In [ ]:
import os
data_path = './'
annotations_train = os.path.join(data_path, f'cv2_train_{1}.json')
with open(annotations_train, 'r') as f:
    train_json = json.loads(f.read())
    train_images = train_json['images']
train_index = []
for img in train_images:
    train_index.append(img['id'])
print(train_index)